.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    letter-spacing: 2px;
    font-size: 30px;
    text-transform: uppercase;
}

h2 {
    letter-spacing: 2px;
    font-size: 20px;
    text-transform: uppercase;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

button {
    background-color: #0071c2;
    color: #fff;
    padding: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.choice-header {
    margin: 10px;
}

.btn-more {
    background: white;
    border: none;
    font-size: 16px;
    color: #0071c2;
    cursor: pointer;
    text-transform: none;
}

.choice-header {
    margin-top: 60px;
}
